
nav {
  /* background-color: rgb(79, 79, 79); */
  background-image: url();
  background-blend-mode: darken;
  box-shadow: 0 0 7px 0 rgb(0, 0, 0);
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 2.2em;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(244, 0, 0);
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: black;
  font-size: 1.0em;
  color: white;
}

.ui-item {
  font-size: 2.0em;
  color: rgb(0, 0, 0);
}
.filter{
  position: center;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

.toggle{
  position: center;
  font-size: 1.0em;
  color: rgb(0, 0, 0);
}

.primary {
  font-size: 1.0em;
  color: rgb(0, 0, 0);
  background-color:rgb(165, 165, 141);
  text-shadow: 0 0 0 rgb(0, 0, 0);
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#home {
  height: 94vh;
  min-height: 400px;
  background-blend-mode: darken;
}
.home-text {
  font-size: 2.2em;
  color: bold;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


.filter{
  font-size: 1.0em;
  color: bold;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

.new-item-form{
  font-size: 1.0em;
  color: bold;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

#root{
 
  background-color:rgb(255, 255, 255);
  
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px #ccc solid;
  background: #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.search{
  font-size: 1.2em;
  color: bold;
  /* text-shadow: 0 0 0 rgb(0, 0, 0); */
}


.searchbar input {
  width: 90%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}

.searchbar button {
  padding: 0 0.25rem;
  box-shadow: 0 0 7px 0 rgb(0, 0, 0);
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

main {
  padding: 0 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  background-color: rgb(147, 123, 99);
}
.header {
  
  background-color: rgb(165, 165, 141);
}

.rucksack-card {
  margin: 0.5rem;
  box-shadow: 0 0 7px 0 rgb(0, 0, 0);
  border-radius: 5px;
  width: 300px;
  background-color: rgb(147, 123, 99);
}