* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

nav {
  background-color: cornsilk;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: black;
  color: white;
}

#home {
  height: 50vh;
  min-height: 400px;
  background-color: cornsilk;
}

#home,
#about,
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

#about img {
  max-height: 50%;
}

#about a {
  display: block;
}

#projects {
  background-color: cornsilk;
  min-height: 400px;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.project-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.technologies span {
  background-color: lightblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

@media (min-width: 700px) {
  #project-list {
    flex-direction: row;
  }

  .project-item {
    width: 50%;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". bt bt bt ."
    ". . rm . ."
    ". tb tb tb .";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

header {
  border-bottom: 1px #ccc solid;
  background: #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  line-height: 1;
  font-family: serif;
}

.logo {
  margin-right: 0.5rem;
  color: solid;
}

.searchbar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.searchbar input {
  width: 90%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.5rem;
}

.searchbar button {
  padding: 0 0.25rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

main {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}

.emoji-button.delete:hover {
  text-shadow: 0 0 0 firebrick;
  cursor: pointer;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card .image .price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  background: white;
}

.card .image img {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
}

.card .details strong {
  font-family: serif;
  font-size: 1rem;
}